:root {
    --yinmn-blue: #3d5a80ff;
    --powder-blue: #98c1d9ff;
    --light-cyan: #e0fbfcff;
    --melon: #e7b4a5ff;
    --burnt-sienna: #ee6c4dff;
    --bole: #8c4f47ff;
    --gunmetal: #293241ff;
}

#baristaSection {
    background-color: var(--powder-blue);
    display: flex;
    justify-content: space-around;
    border: var(--bole) 10px ridge;
}

.barista {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--light-cyan);
    padding: 20px;
    border: var(--gunmetal) 10px ridge;
}